<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${TitrePage}]]</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<!-- -->
<div th:replace="design/header :: navbar"></div>
<!-- -->
  <div class="container">
    <br><br><br>
    <div class="card">
        <div class="card-header">Les informations de l'emprunt</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Date emprunt</th>
              <th>Date retour</th>
              <th>Date effective</th>
              <th>Durée</th>
              <th>Nombre de rappel</th>
              <th>Exemplaire</th>
              <th>Adherent</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${emprunt.id}"></td>
              <td th:text="${emprunt.dateEmprunt}"></td>
              <td th:text="${emprunt.dateRetour}"></td>
              <td th:text="${emprunt.dateEffective}"></td>
              <td th:text="${emprunt.duree}"></td>
              <td th:text="${emprunt.nombreRappel}"></td>
              <td th:text="${emprunt.exemplaire}"></td>
              <td th:text="${emprunt.adherent}"></td>
              <td>
                <a class="btn btn-warning" th:href="@{'/emprunt/edit/'+${emprunt.id}}" >Modifier</a>
                <a class="btn btn-danger" th:href="@{'/emprunt/delete/'+${emprunt.id}}" >Supprimer</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div>
      <a class="btn btn-secondary" th:href="@{'/emprunt/index/'}">Retour</a>
    </div>
  </div>
</body>
</html>